<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="d-flex justify-content-between btn-group-sm">
        <div class="float-left">
          <n-link
            :to="{ path: '/attributes/add' }"
            class="btn btn-sm btn-primary"
          >
            Lưu <i class="fa fa-sm fa-save"></i>
          </n-link>
          <n-link :to="{ path: '/attributes/' }" class="btn btn-sm btn-danger">
            <i class="fa fa-sm fa-file-import"></i>
            huỷ
          </n-link>
        </div>
      </div>
    </template>
    <template #contents>
      <ContentCard>
        <div class="form-group row form-group-b2b">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            Thuộc tính
          </label>
          <div class="col-sm-10">
            <input
              id="name"
              type="text"
              class="form-control form-control-sm form-control-b2b"
              placeholder="Nhập vào tên"
            />
          </div>
        </div>
        <div class="form-group row form-group-b2b">
          <label for="group" class="col-form-label form-check-label col-sm-2">
            Nhóm thuộc tính
          </label>
          <div class="col-sm-10">
            <AddGroupAttribute id="group" class="form-control-b2b" />
          </div>
        </div>
        <div class="form-group row form-group-b2b">
          <label
            for="attribute_type"
            class="col-form-label form-check-label col-sm-2"
          >
            Kiểu nhập
          </label>
          <div class="col-sm-10">
            <select
              id="attribute_type"
              v-model="attributeType"
              class="form-control form-control-b2b"
            >
              <option value="number">Nhập số</option>
              <option value="text">Nhập Text</option>
              <option value="select">Chọn trong danh sách</option>
              <option value="input">Input (Nhập khi mua)</option>
            </select>
          </div>
        </div>
        <div v-if="hasUnit" class="form-group row form-group-b2b">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            Đơn vị
          </label>
          <div class="col-sm-10">
            <div class="row form-control-b2b-x15">
              <div class="col-6">
                <select id="group_unit" name="group_unit" class="form-control">
                  <option value="">Chọn nhóm đơn vị</option>
                  <option value="">Chiều dài</option>
                  <option value="">Khối lượng</option>
                </select>
              </div>
              <div class="col-6">
                <AddUnit />
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row form-group-b2b">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            Mô tả
          </label>
          <div class="col-sm-10">
            <div class="form-group">
              <textarea
                class="form-control form-control-sm form-control-b2b"
                placeholder="Mô tả"
                rows="4"
              />
            </div>
          </div>
        </div>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import {
  defineComponent,
  useMeta,
  ref,
  computed,
} from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import AddUnit from '~/components/forms/AddUnit.vue'
import AddGroupAttribute from '~/components/forms/AddGroupAttribute.vue'

export default defineComponent({
  name: 'PropertiesAddPage',
  components: { AddUnit, ContentWrapper, ContentCard, AddGroupAttribute },
  setup() {
    const { title } = useMeta()
    const attributeType = ref<String>('number')
    const attributeUnits = ref<String[]>(['number', 'input'])
    const hasUnit = computed(() =>
      attributeUnits.value.includes(attributeType.value)
    )
    title.value = 'Thêm thuộc tính'
    return { title, attributeType, hasUnit }
  },

  head: {},
})
</script>
