<template>
  <ContentWrapper
    :page-name="title"
    :action="{ name: 'Thêm kiểu', path: '/attributes/add' }"
  >
    <template slot="actions">
      <div class="float-left">
        <n-link
          :to="{ path: '/attributes/add' }"
          class="btn btn-sm btn-primary"
        >
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link
          :to="{ path: '/attributes/add' }"
          class="btn btn-sm btn-default"
        >
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link
          :to="{ path: '/attributes/add' }"
          class="btn btn-sm btn-default"
        >
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link
          :to="{ path: '/attributes/add' }"
          class="btn btn-sm btn-default"
        >
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable>
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>
            <th>Thuộc tính</th>
            <th>Kiểu dữ liệu</th>
            <th>Đơn vị</th>
            <th>Mô tả</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(attribute, pk) in attributes" :key="pk">
            <td>
              <label class="form-checkbox">
                <input
                  v-model="selected"
                  type="checkbox"
                  :value="attribute.id"
                  @click="itemSelect"
                />
                <i class="form-icon"></i>
              </label>
            </td>
            <td>
              <strong v-text="attribute.name" />
            </td>
            <td>{{ attribute.attributeType }}</td>
            <td>
              <strong
                v-text="
                  Object.keys(attribute).includes('unit')
                    ? attribute.unit.name
                    : '-'
                "
              />
            </td>
            <td>
              <p v-text="attribute.description"></p>
            </td>
          </tr>
        </template>
      </ListTable>

      <AppModal ref="appModal">
        <template #header>
          <h1>Xoá Loại</h1>
        </template>
      </AppModal>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import { ref } from '@vue/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'
import AppModal from '~/components/common/AppModal.vue'
import { IAttribute } from '~/types'
import Properties from '~/configs/properties'

export default defineComponent({
  name: 'PropertiesPage',
  components: { ContentWrapper, ListTable, AppModal },
  setup() {
    const { title } = useMeta()
    title.value = 'Thuộc tính'
    const selectAll = ref(false)
    const selected = ref<number[]>([])
    const attributes = ref<IAttribute[]>(Properties)

    function select() {
      selected.value = []
      if (!selectAll.value) {
        for (const attribute of attributes.value) {
          selected.value.push(attribute.id)
        }
      }
    }

    function itemSelect() {
      selectAll.value = false
    }

    return { title, selectAll, selected, select, itemSelect, attributes }
  },

  head: {},
})
</script>
