<template>
  <div class="">
    <div class="row">
      <div class="padding-image">
        <img
          src="/img/AdminLTELogo.png"
          class="img-responsive"
          alt=""
          height="50"
        />
      </div>
    </div>
    <div class="login-page">
      <div class="login-box">
        <div class="form-group">
          <label for="exampleInputEmail1">Email</label>
          <input
            id="exampleInputEmail1"
            type="email"
            name="email"
            class="form-control bg-light"
            placeholder="Enter email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Mật khẩu</label>
          <input
            id="exampleInputPassword1"
            type="password"
            name="password"
            class="form-control bg-light"
            placeholder="Password"
          />
        </div>
        <button type="button" class="btn btn btn-info btn-lg btn-block">
          Đăng Nhập
        </button>
        <a href="" class="text-info">Đặt lại mật khẩu</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
export default defineComponent({
  name: 'Formlogin',
  components: {},
  layout: 'Login',
  setup() {
    const { title, bodyAttrs } = useMeta()
    bodyAttrs.value = { class: 'hold-transition ' }
    title.value = 'Login'
    return {
      title,
      bodyAttrs,
    }
  },

  head: {},
})
</script>

<style>
.login-page,
.register-page {
  background: white;
  justify-content: start;
  margin: calc(10%);
}
.padding-image {
  padding: 10px;
}
</style>
