@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import 'admin-lte/dist/css/adminlte.min.css';

:root {
  font-size: 13px;
}

#app {
  width: 100vw;
  height: 100vh;
}

.main-header .navbar-nav .nav-item .nav-link {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.navbar-nav > .user-menu .user-image {
  height: 1.6rem;
  width: 1.6rem;
  margin-right: 0;
  margin-left: -8px;
}

.b2b {
  .content-header {
    padding: 5px .5rem
  }
}

.attachment-block.b2b-attachment-block {
  border: 0;
  background: white;
}

.form-control-b2b {
  max-width: 340px;
}

.form-control-b2b-x15 {
  max-width: 450px;
}

.form-group-b2b {
  margin-bottom: 0;

  .col-form-label {
    border-right: 1px solid #ddd;
    padding-bottom: 1.25rem;
  }
}

.form-control-b2b-10 {
  max-width: 350px;
}


