<template>
  <section
    v-show="isActive"
    :id="computedId"
    :aria-hidden="!isActive"
    class="tab-content b2b-tab-content"
    role="tabpanel"
  >
    <slot />
  </section>
</template>

<script>
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'Tab',
  props: {
    id: { type: String, default: null },
    name: { type: String, required: true },
    prefix: { type: String, default: '' },
    suffix: { type: String, default: '' },
    isDisabled: { type: Boolean, default: false },
  },

  data() {
    return {
      isActive: false,
      isVisible: true,
    }
  },

  computed: {
    header() {
      return this.prefix + this.name + this.suffix
    },

    computedId() {
      return this.id ? this.id : this.name.toLowerCase().replace(/ /g, '-')
    },

    hash() {
      if (this.isDisabled) {
        return '#'
      }
      return '#' + this.computedId
    },
  },
})
</script>

<style>
.b2b-tab-content {
  margin-top: 10px;
}
</style>
