<template>
  <div class="b2b-taps">
    <ul role="tablist" class="nav nav-tabs">
      <li
        v-for="(tab, i) in tabs"
        v-show="tab.isVisible"
        :key="i"
        class="nav-item"
        role="presentation"
      >
        <!--        tab.isActive -->
        <a
          :aria-controls="tab.hash"
          :aria-selected="true"
          :href="tab.hash"
          :class="[
            { active: tab.isActive, 'is-disabled disabled': tab.isDisabled },
            'nav-link tabs__item',
          ]"
          role="tab"
          @click="selectTab(tab.hash, $event)"
          v-text="tab.header"
        />
      </li>
    </ul>
    <slot />
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'Tabs',
  props: {
    options: {
      type: Object,
      required: false,
      default: () => ({
        useUrlFragment: true,
        defaultTabHash: null,
      }),
    },
  },

  data: () => ({
    tabs: [],
    activeTabHash: '',
    activeTabIndex: 0,
    lastActiveTabHash: '',
  }),

  created() {
    this.tabs = this.$children
  },

  mounted() {
    window.addEventListener('hashchange', () =>
      this.selectTab(window.location.hash)
    )

    if (this.findTab(window.location.hash)) {
      this.selectTab(window.location.hash)
      return
    }

    const previousSelectedTabHash = this.$auth.$storage.getLocalStorage(
      this.storageKey
    )

    if (this.findTab(previousSelectedTabHash)) {
      this.selectTab(previousSelectedTabHash)
      return
    }

    if (
      this.options.defaultTabHash !== null &&
      this.findTab('#' + this.options.defaultTabHash)
    ) {
      this.selectTab('#' + this.options.defaultTabHash)
      return
    }

    if (this.tabs.length) {
      this.selectTab(this.tabs[0].hash)
    }
  },

  methods: {
    findTab(hash) {
      return this.tabs.find((tab) => tab.hash === hash)
    },

    selectTab(selectedTabHash, event) {
      // See if we should store the hash in the url fragment.
      if (event && !this.options.useUrlFragment) {
        event.preventDefault()
      }

      const selectedTab = this.findTab(selectedTabHash)

      if (!selectedTab) {
        return
      }

      if (selectedTab.isDisabled) {
        event.preventDefault()
        return
      }

      if (this.lastActiveTabHash === selectedTab.hash) {
        this.$emit('clicked', { tab: selectedTab })
        return
      }

      this.tabs.forEach((tab) => {
        tab.isActive = tab.hash === selectedTab.hash
      })

      this.$emit('changed', { tab: selectedTab })

      this.activeTabHash = selectedTab.hash
      this.activeTabIndex = this.getTabIndex(selectedTabHash)

      this.lastActiveTabHash = this.activeTabHash = selectedTab.hash
    },

    getTabIndex(hash) {
      const tab = this.findTab(hash)

      return this.tabs.indexOf(tab)
    },
  },
})
</script>
