<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Tên</th>
        <th>Mô tả</th>
        <th>Ưu tiên</th>
      </tr>
    </template>
    <template #tableContent>
      <tr v-for="(product, pk) in products" :key="pk">
        <td>{{ product.name }}</td>
        <td>Mô tả về sản phẩm {{ product.name }} - {{ product.gia2 }}</td>
        <td>{{ pk + 1 }}</td>
      </tr>
    </template>
  </ListTable>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import { IProduct } from '~/types'
import ListTable from '~/components/list/ListTable.vue'
import Products from '~/configs/product'

export default defineComponent({
  name: 'ListProductSpecial',
  components: { ListTable },
  setup() {
    const products = ref<IProduct[]>(Products)
    return {
      products,
    }
  },
})
</script>
