<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>id</th>
        <th>Tên</th>
        <th>Thương hiệu</th>
        <th>Nhóm</th>
        <th>Xuất sứ</th>
        <th>Đơn vị</th>
        <th>Bảo hành</th>
        <th>Số lượng 1</th>
        <th>Đơn giá 1</th>
        <th>Số lượng 2</th>
        <th>Đơn giá 2</th>
        <th>Trạng thái</th>
      </tr>
    </template>
    <template #tableContent>
      <tr v-for="(product, pk) in products" :key="pk">
        <td>{{ product.id }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.brand }}</td>
        <td>{{ product.group }}</td>
        <td>{{ product.xuatxu }}</td>
        <td>{{ product.donvi }}</td>
        <td>{{ product.baohanh }}</td>
        <td>{{ product.sl1 }}</td>
        <td>{{ product.gia1 }}</td>
        <td>{{ product.sl2 }}</td>
        <td>{{ product.gia2 }}</td>
        <td>
          <span class="badge badge-primary">{{ product.trangthai }} </span>
        </td>
      </tr>
    </template>
  </ListTable>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import { IProduct } from '~/types'
import ListTable from '~/components/list/ListTable.vue'
import Products from '~/configs/product'

export default defineComponent({
  name: 'ListProductRelated',
  components: { ListTable },
  setup() {
    const products = ref<IProduct[]>(Products)
    return {
      products,
    }
  },
})
</script>
