<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Số lượng</th>
        <th></th>
        <th>Giá cơ sở</th>
        <th>Giá phát sinh</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td>Từ 0</td>
        <td>đến 50</td>
        <td>500,000</td>
        <td>10,000</td>
      </tr>
      <tr>
        <td>Từ 50</td>
        <td>đến 100</td>
        <td>450,000</td>
        <td>10,000</td>
      </tr>
    </template>
  </ListTable>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable.vue'

export default defineComponent({
  name: 'PriceTable',
  components: { ListTable },
})
</script>
