<template>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="attachment-block b2b-attachment-block clearfix">
        <ImageThumb />
        <div class="attachment-pushed bg-white">
          <input class="form-control" type="text" placeholder="Tên sản phẩm" />
          <div class="row mt-2">
            <div class="col">
              <input id="special" type="checkbox" class="custom-checkbox" />
              <label for="special" class="form-check-label">
                Sản phẩm đại diện
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="float-right">
        <button type="button" class="btn btn-outline-danger">Hủy</button>
        <button type="button" class="btn btn-outline-primary">Lưu</button>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import ImageThumb from '~/components/common/ImageThumb.vue'

export default defineComponent({
  name: 'ProductDetail',
  components: { ImageThumb },
})
</script>
