<template>
  <div class="row">
    <div class="col-sm-6">
      <BFIInput label="Tên xuất hoá đơn" name="name_order" />
      <div class="row form-group form-group-sm form-group-b2b">
        <label class="col-form-label col-2 form-check-label">
          Nhóm liên quan
        </label>
        <div class="col-10">
          <div class="form-control-b2b">
            <AddGroup />
          </div>
        </div>
      </div>
      <div class="row form-group form-group-sm form-group-b2b">
        <BFILabel name="original" label="Xuất xứ" />
        <div id="original" class="col-10">
          <div class="form-control-b2b">
            <AddOrigin />
          </div>
        </div>
      </div>
      <BFIInput label="Bảo hành " name="warranty" />
      <div class="row form-group form-group-sm form-group-b2b">
        <BFILabel label="Tình trạng" name="status" />
        <div class="col-10 form-control-b2b-10">
          <div class="row">
            <div class="col-9">
              <select class="form-control form-control-sm">
                <option value="">Mới</option>
                <option value="">Hàng thanh lý</option>
                <option value="">Đã qua sử dụng</option>
              </select>
            </div>
            <div class="col-3">
              <input
                type="text"
                placeholder="100%"
                class="form-control form-control-sm"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <BFIInput label="Mã tham chiếu" name="code" />
      <BFIInput label="Qui cách đóng gói" name="package" />
      <div class="row form-group form-group-sm form-group-b2b">
        <label class="col-form-label col-2 form-check-label">
          Đơn vị đo lường
        </label>
        <div class="col-10">
          <div class="form-control-b2b">
            <AddUnit />
          </div>
        </div>
      </div>
      <BFIInput label="Khối lượng" name="weigh" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import AddUnit from '~/components/forms/AddUnit.vue'
import AddOrigin from '~/components/forms/AddOrigin.vue'
import AddGroup from '~/components/forms/AddGroup.vue'
import BFIInput from '~/components/forms/BFIInput.vue'
import BFILabel from '~/components/forms/BFILabel.vue'

export default defineComponent({
  name: 'ProductForm',
  components: { BFILabel, AddGroup, AddOrigin, AddUnit, BFIInput },
})
</script>
