<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Tên thông số</th>
        <th>Giá trị</th>
        <th>Đơn vị - thuộc tinh</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td>Đường kính ống</td>
        <td>200</td>
        <td>mm</td>
      </tr>
      <tr>
        <td>Đường kính cần</td>
        <td>50</td>
        <td>mm</td>
      </tr>
    </template>
  </ListTable>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable'

export default defineComponent({
  name: 'VariantTableProduct',
  components: { ListTable },
  setup() {},
})
</script>
