<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="d-flex justify-content-between btn-group-sm">
        <div class="float-left">
          <a href="#" class="btn btn-sm btn-primary" @click="save">
            Lưu <i class="fa fa-sm fa-save"></i>
          </a>
          <n-link :to="{ path: '/units/' }" class="btn btn-sm btn-danger">
            <i class="fa fa-sm fa-file-import"></i>
            huỷ
          </n-link>
        </div>
      </div>
    </template>
    <template #contents>
      <ContentCard>
        <BFIInput v-model="unit.unitCode" name="code" label="Mã" />
        <BFIInput v-model="unit.unitName" name="name" label="Đơn vị" />
        <div class="form-group row form-group-b2b">
          <label for="group" class="col-form-label form-check-label col-sm-2">
            Nhóm
          </label>
          <div class="col-sm-10">
            <AddGroupUnit id="group" class="form-control-b2b" />
          </div>
        </div>
        <div class="mt-4 mb-4">
          <BFITextarea
            v-model="unit.unitDescription"
            name="description"
            label="Mô tả"
          />
        </div>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  ref,
  useContext,
  useFetch,
  useMeta,
  useRoute,
  useRouter,
} from '@nuxtjs/composition-api'
import { Context } from '@nuxt/types'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import BFITextarea from '~/components/forms/BFITextarea.vue'
import AddGroupUnit from '~/components/forms/AddGroupUnit.vue'
import BFIInput from '~/components/forms/BFIInput.vue'
import { IUnitNew } from '~/types'

export default defineComponent({
  name: 'KindEditPage',
  components: {
    ContentWrapper,
    ContentCard,
    BFITextarea,
    AddGroupUnit,
    BFIInput,
  },

  validate({ params }: Context): Promise<boolean> | boolean {
    return /^\d+$/.test(params.id) && parseInt(params.id) > 0
  },

  setup() {
    const { title } = useMeta()
    title.value = 'Sửa kiểu'
    const { $api } = useContext()
    const router = useRouter()
    const route = useRoute()
    const id = computed(() => route.value.params.id)
    const unit = ref<IUnitNew>({
      unitCode: '',
      unitName: '',
      unitDescription: '',
      subUnit: 'ai_dont_no',
      editedBy: 'ntdb2b',
      isActive: true,
    })

    async function save() {
      await $api.units.update(unit.value)
      router.push({
        name: 'units',
        query: route.value.query,
      })
    }
    useFetch(async () => {
      unit.value = await $api.units.show({ id: id.value })
    })
    return { title, unit, save }
  },

  head: {},
})
</script>
