<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="d-flex justify-content-between btn-group-sm">
        <div class="float-left">
          <a href="#" class="btn btn-sm btn-primary" @click="save">
            Lưu <i class="fa fa-sm fa-save"></i>
          </a>
          <n-link :to="{ path: '/units/' }" class="btn btn-sm btn-danger">
            <i class="fa fa-sm fa-file-import"></i>
            huỷ
          </n-link>
        </div>
      </div>
    </template>
    <template #contents>
      <ContentCard>
        <BFIInput v-model="unit.unitCode" name="code" label="Mã" />
        <BFIInput v-model="unit.unitName" name="name" label="Đơn vị" />
        <div class="form-group row form-group-b2b">
          <label for="group" class="col-form-label form-check-label col-sm-2">
            Nhóm
          </label>
          <div class="col-sm-10">
            <AddGroupUnit id="group" class="form-control-b2b" />
          </div>
        </div>
        <div class="mt-4 mb-4">
          <BFITextarea
            v-model="unit.unitDescription"
            name="description"
            label="Mô tả"
          />
        </div>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import {
  defineComponent,
  useContext,
  useMeta,
  ref,
  useRouter,
} from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import BFIInput from '~/components/forms/BFIInput.vue'
import BFITextarea from '~/components/forms/BFITextarea.vue'
import AddGroupUnit from '~/components/forms/AddGroupUnit.vue'
import { IUnitNew } from '~/types'

export default defineComponent({
  name: 'UnitAddPage',
  components: {
    BFITextarea,
    BFIInput,
    ContentWrapper,
    ContentCard,
    AddGroupUnit,
  },

  setup() {
    const { title } = useMeta()
    const { $api } = useContext()
    const router = useRouter()
    title.value = 'Thêm đơn vị'
    const unit = ref<IUnitNew>({
      unitCode: '',
      unitName: '',
      unitDescription: '',
      subUnit: 'ai_dont_no',
      editedBy: 'ntdb2b',
      isActive: true,
    })

    async function save() {
      await $api.units.add(unit.value)
      router.push({
        name: 'units',
      })
    }

    return { title, unit, save }
  },

  head: {},
})
</script>
