<template>
  <ContentWrapper
    v-bind:pageName="title"
    :action="{ name: 'Thêm', path: '/units/add' }"
  >
    <template slot="actions">
      <div class="float-left">
        <n-link :to="{ path: '/units/add' }" class="btn btn-sm btn-primary">
          Tạo mới<i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/units/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/units/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/units/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <Paging v-if="meta" :meta="meta" />
    </template>
    <template #contents>
      <div v-if="$fetchState.pending"></div>
      <div v-else-if="$fetchState.error"></div>
      <ListTable v-else>
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>

            <th>Mã</th>
            <th>Nhóm đơn vị</th>
            <th>Tên</th>
            <th>Mô tả</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(unit, pk) in units" :key="pk">
            <td>
              <label class="form-checkbox">
                <input
                  v-model="selected"
                  type="checkbox"
                  :value="unit.id"
                  @click="itemSelect"
                />
                <i class="form-icon"></i>
              </label>
            </td>
            <td :data-id="unit.id" @click="editClick">
              <strong v-text="unit.unitCode" />
            </td>
            <td>
              <p v-text="unit.groupUnit" />
            </td>

            <td>
              <strong v-text="unit.unitName" />
            </td>
            <td>
              <p v-text="unit.unitDescription"></p>
            </td>
          </tr>
        </template>
      </ListTable>

      <AppModal ref="appModal">
        <template #header>
          <h1>Xoá Loại</h1>
        </template>
      </AppModal>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import {
  computed,
  defineComponent,
  useContext,
  useFetch,
  useMeta,
  useRoute,
  ref,
  useRouter,
  watch,
} from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'
import AppModal from '~/components/common/AppModal.vue'
import { IMetadata } from '~/types'
import Paging from '~/components/common/Paging.vue'

export default defineComponent({
  name: 'UnitsPage',
  components: { ContentWrapper, ListTable, AppModal, Paging },
  setup() {
    const { title } = useMeta()
    const { $api } = useContext()
    const route = useRoute()
    const router = useRouter()

    title.value = 'Đơn vị'
    const selectAll = ref(false)
    const selected = ref<number[]>([])
    const units = ref([])
    const meta = ref<IMetadata>()

    function editClick(e: any) {
      const id = e.currentTarget.getAttribute('data-id')
      router.push({
        path: `/units/${id}`,
        query: route.value.query,
      })
    }

    function select() {
      selected.value = []
      if (units.value.length === 0) {
        return
      }
      if (!selectAll.value) {
        units.value.forEach((unit: any) => {
          selected.value.push(unit.id)
        })
      }
    }

    const page = computed(() =>
      route.value.query.page ? route.value.query.page : '1'
    )

    function itemSelect() {
      selectAll.value = false
    }

    async function _fetchData() {
      const data = await $api.units.index({ page: page.value })
      units.value = data.elements
      meta.value = data.metadata
    }

    watch(page, (newpage, oldPage) => {
      if (newpage !== oldPage) {
        _fetchData()
      }
    })
    useFetch(async () => await _fetchData())

    return {
      title,
      selectAll,
      selected,
      select,
      itemSelect,
      units,
      meta,
      editClick,
    }
  },

  head: {},
})
</script>
