<template>
  <ContentWrapper page-name="All Post">
    <NuxtLink class="btn btn-primary" :to="{ name: 'index' }">
      Homepage
    </NuxtLink>

    <FetchState class="mt-6" :state="$fetchState">
      <PostList v-slot="{ post }" :posts="posts">
        <PostListItem
          :post="post"
          :route="{ name: 'posts-id', params: { id: post.id } }"
        />
      </PostList>
    </FetchState>
  </ContentWrapper>
</template>

<script lang="ts">
import {
  defineComponent,
  ref,
  useContext,
  useFetch,
} from '@nuxtjs/composition-api'
import FetchState from '~/components/FetchState.vue'
import PostList from '~/components/post/PostList.vue'
import PostListItem from '~/components/post/PostListItem.vue'
import ContentWrapper from '~/components/common/ContentWrapper.vue'

export default defineComponent({
  name: 'Posts',
  components: { FetchState, PostList, PostListItem, ContentWrapper },
  setup() {
    const posts = ref([])
    const { $api } = useContext()

    useFetch(async () => {
      posts.value = await $api.posts.index()
    })

    return { posts }
  },
})
</script>
