<template>
  <ModalWrapper>
    <template #header>
      <h2>Thuộc tính {{ title }}</h2>
    </template>
    <template #body>
      <BFIInput label="Thông số" name="name" />
      <div class="row form-group form-group-sm form-group-b2b">
        <BFILabel name="unit_group" label="Nhóm đơn vị" />
        <div class="col-10">
          <div class="form-control-b2b">
            <AddGroupUnit id="unit_group" label="Thông số" name="name" />
          </div>
        </div>
      </div>
      <div class="row form-group form-group-sm form-group-b2b">
        <BFILabel name="unit" label="Nhóm đơn vị" />
        <div class="col-10">
          <div class="form-control-b2b">
            <AddUnit id="unit" label="Thông số" name="name" />
          </div>
        </div>
      </div>
    </template>
    <template #footer>
      <button class="btn btn-danger" type="button">Hủy</button>
      <button class="btn btn-primary" type="button">Lưu</button>
    </template>
  </ModalWrapper>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import ModalWrapper from '~/components/modals/ModalWrapper.vue'
import BFIInput from '~/components/forms/BFIInput.vue'
import AddGroupUnit from '~/components/forms/AddGroupUnit.vue'
import AddUnit from '~/components/forms/AddUnit.vue'
import BFILabel from '~/components/forms/BFILabel.vue'

export default defineComponent({
  name: 'ModalVariant',
  components: { AddUnit, AddGroupUnit, BFIInput, ModalWrapper, BFILabel },
  props: {
    title: {
      type: String,
      default: '',
    },
  },
})
</script>
