<template>
  <div class="modal-content">
    <div class="modal-header">
      <slot name="header" />
      <!--      <button -->
      <!--        type="button" -->
      <!--        class="close" -->
      <!--        data-dismiss="modal" -->
      <!--        aria-label="Close" -->
      <!--        @click="closeModal" -->
      <!--      > -->
      <!--        <span aria-hidden="true">&times;</span> -->
      <!--      </button> -->
    </div>
    <div class="modal-body">
      <slot name="body" />
    </div>
    <div class="modal-footer justify-content-between">
      <slot name="footer" />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { useContext } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ModalWrapper',
  setup() {
    const { root } = useContext()
    function closeModal() {
      console.log(root)
      root.$modal.hide()
    }

    return {
      closeModal,
    }
  },
})
</script>
