<template>
  <li class="list-group-item">
    <img
      src="/img/photo1.png"
      class="img-responsive"
      alt=""
      width="150"
      height="150"
    />
    <button type="button" class="btn btn-sm btn-danger">
      <i class="fa fa-times"></i>
    </button>
  </li>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
export default defineComponent({
  name: 'ItemsImage',
  setup() {},
})
</script>
