<template>
  <tr>
    <td>
      <div class="icheck-primary">
        <input id="check15" type="checkbox" :value="group.id" />
        <label for="check15"></label>
      </div>
    </td>
    <td>Đường trục chính</td>
    <td>1.5</td>
    <td>+2.5</td>
    <td>5</td>
    <td class="mailbox-subject">
      <b v-text="group.code"></b> - {{ group.name }}
    </td>
    <td class="btn-table">
      <span v-if="group.status === 'success'" class="badge badge-success">
        success
      </span>
      <span v-if="group.status === 'draft'" class="badge badge-secondary">
        draft
      </span>
      <span v-if="group.status === 'warning'" class="badge badge-warning">
        warning
      </span>
      <span v-if="group.status === 'delete'" class="badge badge-danger"
        >delete</span
      >
    </td>
  </tr>
</template>

<script lang="ts">
import { defineComponent, PropType } from '@nuxtjs/composition-api'
import { IGroup } from '~/types'

export default defineComponent({
  name: 'ItemRelatedProduct',
  props: {
    group: {
      type: Object as PropType<IGroup>,
      required: true,
    },
  },
})
</script>
