<template>
  <div class="card cart-table">
    <div class="card-body p-0">
      <div class="table-responsive">
        <table
          class="
            table
            table-sm
            table-bordered
            table-hover
            table-striped
            table-head-fixed
          "
        >
          <thead class="grayHeader">
            <slot name="tableHeader" />
          </thead>
          <tbody>
            <slot name="tableContent" />
          </tbody>
        </table>
      </div>
      <div v-if="haseMore" class="addMore border bg-light p-1">
        <a href="javascript:;" @click="clickAddMore">Thêm tiếp </a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ListTable',
  components: {},
  props: { haseMore: { type: Boolean, default: false } },
  emits: ['add-more'],
  setup(_, { emit, root }) {
    function clickAddMore() {
      emit('add-more')
      root.$modal.show(
        () => import('~/components/modals/ModalVariant.vue'),
        {
          // Data props
        },
        { height: 'auto' }
      )
    }

    return {
      clickAddMore,
    }
  },
})
</script>

<style>
thead.grayHeader {
  color: #4c4c4c;
  border-bottom: 1px solid #cacaca;
}

thead.grayHeader th {
  border-left: 1px solid #dfdfdf;
  border-bottom: 2px solid #dee2e6;
}

.table.table-head-fixed thead.grayHeader tr:nth-child(1) th {
  background: #eee;
  padding-top: 16px;
}

.cart-table {
  box-shadow: none;
}

.cart-table table {
  margin-bottom: 0;
}

.addMore {
  margin-right: 1px;
}
</style>

function clickAddMore(e: any, any: any) { throw new Error('Function not
implemented.') } function e(e: any, any: any) { throw new Error('Function not
implemented.') } function clickAddMore(e: any, any: any) { throw new
Error('Function not implemented.') } function e(e: any, any: any) { throw new
Error('Function not implemented.') } function clickAddMore() { throw new
Error('Function not implemented.') }
