<template>
  <div class="card card-primary card-outline">
    <div class="card-header">
      <h3 class="card-title">Sản phẩm liên quan</h3>

      <div class="card-tools">
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="Tìm kiếm" />
          <div class="input-group-append">
            <div class="btn btn-primary">
              <i class="fas fa-search"></i>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-tools -->
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
      <div class="mailbox-controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
          <i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm">
            <i class="far fa-plus-square"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt"></i>
        </button>
        <div class="float-right">
          1-50/200
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <!-- /.btn-group -->
        </div>
        <!-- /.float-right -->
      </div>
      <div class="table-responsive mailbox-messages">
        <table
          class="table table-sm table-bordered table-hover table-striped text-nowrap"
        >
          <thead>
            <tr>
              <th></th>
              <th>Thông số</th>
              <th>Hệ số</th>
              <th>Biên Độ</th>
              <th>Số lượng</th>
              <th>Sản Phẩm(nhóm liên quan)</th>
              <th>Trạng thái</th>
            </tr>
          </thead>
          <tbody>
            <ItemRelatedProduct
              v-for="(group, key) in groups"
              :key="'related_product' + key"
              :group="group"
            />
          </tbody>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.mail-box-messages -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer p-0">
      <div class="mailbox-controls">
        <!-- Check all button -->
        <button type="button" class="btn btn-default btn-sm checkbox-toggle">
          <i class="far fa-square"></i>
        </button>
        <div class="btn-group">
          <button type="button" class="btn btn-default btn-sm">
            <i class="far fa-trash-alt"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-reply"></i>
          </button>
          <button type="button" class="btn btn-default btn-sm">
            <i class="fas fa-share"></i>
          </button>
        </div>
        <!-- /.btn-group -->
        <button type="button" class="btn btn-default btn-sm">
          <i class="fas fa-sync-alt"></i>
        </button>
        <div class="float-right">
          1-50/200
          <div class="btn-group">
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-left"></i>
            </button>
            <button type="button" class="btn btn-default btn-sm">
              <i class="fas fa-chevron-right"></i>
            </button>
          </div>
          <!-- /.btn-group -->
        </div>
        <!-- /.float-right -->
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@nuxtjs/composition-api'
import { IGroup } from '~/types'
import Groups from '~/configs/groups'
import ItemRelatedProduct from '~/components/list/ItemRelatedProduct.vue'

export default defineComponent({
  name: 'ListRelatedProduct',
  components: { ItemRelatedProduct },
  setup() {
    const groups = ref<IGroup[]>(Groups)
    return {
      groups,
    }
  },
})
</script>
