<template>
  <div
    class="relative bg-skin-fill max-w-4xl mx-auto overflow-hidden sm:rounded-2xl"
  >
    <NuxtImg
      class="absolute inset-0 h-full w-full object-cover opacity-30"
      src="https://images.unsplash.com/photo-1613217784112-e0e197be6a0b?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1567&q=80"
      alt="People working on laptops"
    />
    <div
      class="absolute inset-0 bg-gradient-to-br from-skin-hue via-skin-hue to-transparent opacity-90"
    />
    <div
      class="relative max-w-2xl mx-auto text-center py-16 px-4 sm:py-20 sm:px-6 lg:px-8"
    >
      <h2 class="text-3xl font-extrabold text-skin-base sm:text-4xl">
        <span class="block">Focus on your content.</span>
        <span class="block">We handle the distribution.</span>
      </h2>
      <p class="mt-4 text-lg leading-6 text-skin-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquid
        aperiam beatae consequuntur cum debitis doloribus excepturi fugiat harum
        hic molestiae.
      </p>
      <div
        class="mt-10 max-w-sm mx-auto sm:max-w-none sm:flex sm:justify-center"
      >
        <div
          class="space-y-4 sm:space-y-0 sm:mx-auto sm:inline-grid sm:grid-cols-2 sm:gap-5"
        >
          <a
            href="#"
            class="text-skin-inverted bg-skin-button-accent hover:bg-skin-button-accent-hover flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm sm:px-8"
          >
            Get started
          </a>
          <a
            href="#"
            class="text-skin-base bg-skin-button-muted bg-opacity-60 hover:bg-opacity-70 flex items-center justify-center px-4 py-3 border border-transparent text-base font-medium rounded-md shadow-sm sm:px-8"
          >
            Live demo
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'HeroSimpleCentered',
})
</script>
