<template>
  <ContentWrapper :page-name="title"></ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'

export default defineComponent({
  name: 'TypesEditPage',
  components: { ContentWrapper },
  setup() {
    const { title } = useMeta()
    title.value = 'Sửa chủng loại'
    return { title }
  },

  head: {},
})
</script>
