<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="d-flex justify-content-between btn-group-sm">
        <div class="float-left">
          <n-link :to="{ path: '/types/add' }" class="btn btn-sm btn-primary">
            Lưu <i class="fa fa-sm fa-save"></i>
          </n-link>
          <n-link :to="{ path: '/types/' }" class="btn btn-sm btn-danger">
            <i class="fa fa-sm fa-file-import"></i>
            huỷ
          </n-link>
        </div>
      </div>
    </template>
    <template #contents>
      <ContentCard>
        <div class="form-group row">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            chủng loại
          </label>
          <div class="col-sm-10">
            <input
              id="name"
              type="text"
              class="form-control form-control-sm form-control-b2b"
              placeholder="chủng loại"
            />
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            Danh mục liên quan
          </label>
          <div class="col-sm-10">
            <CategorySelected class="form-control-b2b" />
          </div>
        </div>
        <div class="form-group row">
          <label for="name" class="col-form-label form-check-label col-sm-2">
            Mô tả
          </label>
          <div class="col-sm-10">
            <div class="form-group">
              <textarea
                class="form-control form-control-sm form-control-b2b"
                placeholder="Mô tả"
                rows="4"
              />
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label
            for="exampleInputFile"
            class="col-form-label form-check-label col-sm-2"
          >
            Hình ảnh
          </label>
          <div class="col-sm-10">
            <div class="input-group form-control-b2b">
              <div class="custom-file">
                <input
                  id="exampleInputFile"
                  type="file"
                  class="custom-file-input"
                />
                <label class="custom-file-label" for="exampleInputFile">
                  Choose file
                </label>
              </div>
            </div>
          </div>
        </div>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import CategorySelected from '~/components/forms/CategorySelected.vue'

export default defineComponent({
  name: 'TypesAddPage',
  components: { ContentWrapper, ContentCard, CategorySelected },
  setup() {
    const { title } = useMeta()
    title.value = 'Thêm chủng loại'
    return { title }
  },

  head: {},
})
</script>
