<template>
  <ContentWrapper
    :page-name="title"
    :action="{ name: 'Thêm chủng loại', path: '/Typess/add' }"
  >
    <template slot="actions">
      <div class="float-left">
        <n-link :to="{ path: '/types/add' }" class="btn btn-sm btn-primary">
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/types/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/types/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/types/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable>
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>
            <th width="50px">Hình ảnh</th>
            <th>Chủng loại</th>
            <th>Mô tả</th>
            <th>Danh mục</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(Types, pk) in Typess" :key="pk">
            <td>
              <label class="form-checkbox">
                <input
                  v-model="selected"
                  type="checkbox"
                  :value="Types.id"
                  @click="itemSelect"
                />
                <i class="form-icon"></i>
              </label>
            </td>
            <td>
              <div class="img-thumbnail float-left">
                <img v-if="Types.image" width="50" :src="Types.image" alt="" />
                <img v-else width="50" src="/img/default-150x150.png" alt="" />
              </div>
            </td>
            <td>
              <strong v-text="Types.name" />
            </td>
            <td>
              <p v-text="Types.description"></p>
            </td>
            <td></td>
            <!--            <td class="btn-table"> -->
            <!--              <n-link -->
            <!--                :to="{ path: '/Typess/' + Types.id }" -->
            <!--                class="btn btn-sm btn-warning" -->
            <!--              > -->
            <!--                Sửa -->
            <!--              </n-link> -->
            <!--              <a -->
            <!--                href="javascript:;" -->
            <!--                class="btn btn-sm btn-danger" -->
            <!--                @click="$refs.appModal.openModal()" -->
            <!--              > -->
            <!--                Xoá -->
            <!--              </a> -->
            <!--            </td> -->
          </tr>
        </template>
      </ListTable>

      <AppModal ref="appModal">
        <template #header>
          <h1>Xoá Loại</h1>
        </template>
      </AppModal>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import { ref } from '@vue/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'
import AppModal from '~/components/common/AppModal.vue'
import { IKind } from '~/types'
import Kinds from '~/configs/kinds'

export default defineComponent({
  name: 'TypesPage',
  components: { ContentWrapper, ListTable, AppModal },
  setup() {
    const { title } = useMeta()
    title.value = 'Chủng loại'
    const selectAll = ref(false)
    const selected = ref<number[]>([])
    const Typess = ref<IKind[]>(Kinds)

    function select() {
      selected.value = []
      if (!selectAll.value) {
        for (const Types of Typess.value) {
          selected.value.push(Types.id)
        }
      }
    }

    function itemSelect() {
      selectAll.value = false
    }

    return { title, selectAll, selected, select, itemSelect, Typess }
  },

  head: {},
})
</script>
