<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <form action="">
        <div class="row">
          <div class="col-sm-6">
            <ContentCard title="Thông tin chuyên mục">
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Tên sản phẩm nhóm"
                />
              </div>
              <div class="form-group">
                <input
                  type="text"
                  class="form-control form-control-sm"
                  placeholder="Chọn chuyên mục"
                />
              </div>
              <div class="form-group">
                <textarea
                  class="form-control form-control-sm"
                  placeholder="Mô tả"
                  rows="4"
                />
              </div>
            </ContentCard>
            <ContentCard title="Thông số chính"></ContentCard>
            <ContentCard title="Thông số phụ"></ContentCard>
            <ContentCard title="Hình ảnh">
              <div class="form-group-sm">
                <label for="exampleInputFile">File input</label>
                <div class="input-group">
                  <div class="custom-file">
                    <input
                      id="exampleInputFile"
                      type="file"
                      class="custom-file-input form-control-sm"
                    />
                    <label class="custom-file-label" for="exampleInputFile">
                      Choose file
                    </label>
                    <div class="input-group-append">
                      <span id="" class="input-group-text">Upload</span>
                    </div>
                  </div>
                </div>
              </div>
            </ContentCard>
            <ContentCard>
              <div class="d-flex justify-content-between btn-group-sm">
                <button type="reset" class="btn btn-secondary">Hủy</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </ContentCard>
          </div>
        </div>
      </form>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '../../components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'

export default defineComponent({
  name: 'EditGroup',
  components: { ContentWrapper, ContentCard },
  setup() {
    const { title } = useMeta()
    title.value = 'Sửa nhóm'
    return {
      title,
    }
  },

  head: {},
})
</script>
