<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <div class="row">
        <div class="col-lg">
          <ContentCard>
            <GroupDetail />
            <Tabs>
              <Tab id="thong-so-chinh" name="Thông số chính">
                <VariantTable />
              </Tab>
              <Tab id="thong-so-phu" name="Thông số phụ">
                <VariantTable />
              </Tab>
              <Tab id="san-pham-mua-cung" name="Sản phẩm mua cùng">
                <RelatedProduct />
              </Tab>
              <Tab id="hinh-anh" name="Hình ảnh">
                <ImageTable />
              </Tab>
              <Tab id="catalog" name="Catalog">
                <CatalogTable />
              </Tab>
            </Tabs>
          </ContentCard>
        </div>
      </div>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, ref, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import { IVariant } from '~/types'
import GroupDetail from '~/components/groups/GroupDetail.vue'
import VariantTable from '~/components/groups/VariantTable.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import Tabs from '~/components/common/tab/Tabs.vue'
import Tab from '~/components/common/tab/Tab.vue'
import RelatedProduct from '~/components/groups/RelatedProduct.vue'
import CatalogTable from '~/components/groups/CatalogTable.vue'
import ImageTable from '~/components/groups/ImageTable.vue'

export default defineComponent({
  name: 'AddGroup',
  components: {
    ContentWrapper,
    GroupDetail,
    Tabs,
    Tab,
    ContentCard,
    VariantTable,
    RelatedProduct,
    CatalogTable,
    ImageTable,
  },

  setup() {
    const { title } = useMeta()
    title.value = 'Thêm nhóm'
    const variantsPrimary = ref<IVariant[]>([
      {
        variant: { id: 1, name: 'Đường kính trục' },
        unit: { id: 1, name: 'cm' },
      },
      {
        variant: { id: 2, name: 'Đường kính cần' },
        unit: { id: 1, name: 'cm' },
      },
      { variant: { id: 2, name: 'Kiểu trục' } },
    ])
    const variantsForeign = ref<IVariant[]>([
      {
        variant: { id: 1, name: 'Đường kính trục' },
        unit: { id: 1, name: 'cm' },
      },
      {
        variant: { id: 2, name: 'Đường kính cần' },
        unit: { id: 1, name: 'cm' },
      },
      { variant: { id: 2, name: 'Kiểu trục' } },
    ])
    return {
      title,
      variantsPrimary,
      variantsForeign,
    }
  },

  head: {},
})
</script>
