<template>
  <ContentWrapper :page-name="title" :breadcrumbs="breadcrumbs">
    <template #actions>
      <div class="float-left">
        <n-link :to="{ path: '/groups/add' }" class="btn btn-sm btn-primary">
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/groups/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/groups/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/groups/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable>
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>
            <th width="90px">Mã #</th>
            <th>Tên hiển thị</th>
            <th>Mô tả</th>
            <th>Chuyên mục</th>
            <th>Thương hiệu</th>
            <th>Kiểu loại</th>
            <th class="text-center">Trạng thái</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(group, pk) in groups" :key="pk">
            <td>
              <label class="form-checkbox">
                <input
                  v-model="selected"
                  type="checkbox"
                  :value="group.id"
                  @click="itemSelect"
                />
                <i class="form-icon"></i>
              </label>
            </td>
            <td>{{ group.code }}</td>
            <td>{{ group.name }}</td>
            <td>Sản phẩm này, như thế này này, và được dùng trong ngành này</td>
            <td>Thủy lực > Bơm thủy lực > Bơm tay</td>
            <td>Stauff</td>
            <td>Lục giác chìm</td>
            <td class="btn-table">
              <span
                v-if="group.status === 'success'"
                class="badge badge-success"
              >
                success
              </span>
              <span
                v-if="group.status === 'draft'"
                class="badge badge-secondary"
              >
                draft
              </span>
              <span
                v-if="group.status === 'warning'"
                class="badge badge-warning"
              >
                warning
              </span>
              <span v-if="group.status === 'delete'" class="badge badge-danger"
                >delete</span
              >
            </td>
          </tr>
        </template>
      </ListTable>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta, ref } from '@nuxtjs/composition-api'
import ListTable from '~/components/list/ListTable.vue'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import Groups from '~/configs/groups'
import { IGroup } from '~/types'

export default defineComponent({
  name: 'GroupPage',
  components: { ContentWrapper, ListTable },
  setup() {
    const { title } = useMeta()
    const selectAll = ref(false)
    const selected = ref<number[]>([])
    const breadcrumbs = ref([])
    const groups = ref<IGroup[]>(Groups)

    function select() {
      selected.value = []
      if (!selectAll.value) {
        for (const group of groups.value) {
          selected.value.push(group.id)
        }
      }
    }

    function itemSelect() {
      selectAll.value = false
    }

    title.value = 'Sản phẩm nhóm'
    return {
      title,
      breadcrumbs,
      selectAll,
      selected,
      select,
      groups,
      itemSelect,
    }
  },

  head: {},
})
</script>

<style>
.btn-table {
  width: 150px;
  text-align: center;
}
td {
  cursor: pointer;
}
</style>
