<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <div class="row">
        <div class="col-sm-6">
          <ContentCard title="Thông tin danh mục">
            <div class="form-group">
              <input
                type="text"
                class="form-control form-control-sm"
                placeholder="Tên mục"
              />
            </div>
            <div class="form-group">
              <select class="form-control form-control-sm">
                <option value="">Chọn danh mục cha</option>
                <option value="">Thủy lực</option>
              </select>
            </div>
            <div class="form-group">
              <textarea
                class="form-control form-control-sm"
                placeholder="Mô tả"
                rows="4"
              />
            </div>
          </ContentCard>
        </div>
        <div class="col-sm-6">
          <ContentCard title="Thông số chính">
            <AddVariant />
            <hr />
            <ListVariant :items="variantsPrimary" :has-remove="true" />
          </ContentCard>
        </div>
      </div>

      <div class="col-sm-12">
        <ContentCard title="Hình ảnh">
          <div class="form-group">
            <label for="exampleInputFile">File input</label>
            <div class="input-group">
              <div class="custom-file">
                <input
                  id="exampleInputFile"
                  type="file"
                  class="custom-file-input"
                />
                <label class="custom-file-label" for="exampleInputFile">
                  Choose file
                </label>
                <div class="input-group-append">
                  <span id="" class="input-group-text">Upload</span>
                </div>
              </div>
            </div>
          </div>
        </ContentCard>
        <ContentCard>
          <div class="d-flex justify-content-between btn-group-sm">
            <button type="reset" class="btn btn-secondary">Hủy</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
        </ContentCard>
      </div>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, ref, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import ListVariant from '~/components/forms/ListVariant.vue'
import AddVariant from '~/components/forms/AddVariant.vue'
import { IVariant } from '~/types'

export default defineComponent({
  name: 'CategoriesEditPage',
  components: { ContentWrapper, ContentCard, ListVariant, AddVariant },
  setup() {
    const { title } = useMeta()
    title.value = 'Sửa mục'
    const variantsPrimary = ref<IVariant[]>([
      {
        variant: { id: 1, name: 'Đường kính trục' },
        unit: { id: 1, name: 'cm' },
      },
      {
        variant: { id: 2, name: 'Đường kính cần' },
        unit: { id: 1, name: 'cm' },
      },
      { variant: { id: 2, name: 'Kiểu trục' } },
    ])
    return {
      title,
      variantsPrimary,
    }
  },

  head: {},
})
</script>
