<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <ContentCard>
        <div class="row">
          <div class="col-sm-6 col-md-6">
            <div class="attachment-block b2b-attachment-block clearfix">
              <ImageThumb />
              <div class="attachment-pushed bg-white">
                <input
                  class="form-control form-control-b2b"
                  type="text"
                  placeholder="Tên danh mục"
                />
                <div class="row mt-2">
                  <div class="col">
                    <div class="form-group">
                      <select
                        class="form-control form-control-sm form-control-b2b"
                      >
                        <option value="">Chọn danh mục cha</option>
                        <option value="">Thủy lực</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col col-form-label form-check-label">
                    <input type="checkbox" />
                    Danh mục cuối cùng
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <Tabs>
          <Tab id="thong-so" name="Thông số chính">
            <VariantTable />
          </Tab>
          <Tab id="special_product" name="Sản phẩm đại điện">
            <ListProductSpecial />
          </Tab>
          <Tab id="description" name="Mô tả">
            <div class="form-group">
              <textarea
                class="form-control form-control-sm"
                placeholder="Mô tả"
                rows="4"
              />
            </div>
          </Tab>
        </Tabs>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, ref, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import VariantTable from '~/components/groups/VariantTable.vue'
import ImageThumb from '~/components/common/ImageThumb.vue'
import Tabs from '~/components/common/tab/Tabs.vue'
import Tab from '~/components/common/tab/Tab.vue'
import { IVariant } from '~/types'
import { getBase64 } from '~/helpers/file_helper'
import ListProductSpecial from '~/components/products/ListProductSpecial.vue'

export default defineComponent({
  name: 'CategoriesAddPage',
  components: {
    ListProductSpecial,
    ContentWrapper,
    ContentCard,
    Tabs,
    Tab,
    VariantTable,
    ImageThumb,
  },

  setup() {
    const { title } = useMeta()
    title.value = 'Thêm mục'
    const imgFile = ref<any>(null)
    const variantsPrimary = ref<IVariant[]>([
      {
        variant: { id: 1, name: 'Đường kính trục' },
        unit: { id: 1, name: 'cm' },
      },
      {
        variant: { id: 2, name: 'Đường kính cần' },
        unit: { id: 1, name: 'cm' },
      },
      { variant: { id: 2, name: 'Kiểu trục' } },
    ])

    async function fileSelected(e: any) {
      // e.preventDefault()
      const file = e.target.files[0]
      imgFile.value = await getBase64(file)
      console.log(imgFile)
    }

    return {
      title,
      variantsPrimary,
      fileSelected,
      imgFile,
    }
  },

  head: {},
})
</script>
