<template>
  <ContentWrapper
    :page-name="title"
    :action="{
      name: 'Thêm mục',
      path: '/categories/add',
    }"
  >
    <template #actions>
      <div class="float-left">
        <n-link
          :to="{ path: '/categories/add' }"
          class="btn btn-sm btn-primary"
        >
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link
          :to="{ path: '/categories/add' }"
          class="btn btn-sm btn-default"
        >
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link
          :to="{ path: '/categories/add' }"
          class="btn btn-sm btn-default"
        >
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link
          :to="{ path: '/categories/add' }"
          class="btn btn-sm btn-default"
        >
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable :table-name="'id selected: ' + selected">
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>
            <th>Tên hiển thị</th>
            <th>Sản phẩm cuối</th>
          </tr>
        </template>
        <template #tableContent>
          <template v-for="(cate, pk) in categories">
            <tr :key="pk">
              <td>
                <label class="form-checkbox">
                  <input
                    v-model="selected"
                    type="checkbox"
                    :value="cate.id"
                    @click="itemSelect"
                  />
                  <i class="form-icon"></i>
                </label>
              </td>
              <td>{{ cate.name }}</td>
              <td class="btn-table">
                <input type="checkbox" />
              </td>
            </tr>
            <template v-if="cate.children">
              <tr
                v-for="(sub, pk2) in cate.children"
                :key="'sub_' + pk + '_' + pk2"
              >
                <td>
                  <label class="form-checkbox">
                    <input
                      v-model="selected"
                      type="checkbox"
                      :value="cate.id"
                      @click="itemSelect"
                    />
                    <i class="form-icon"></i>
                  </label>
                </td>
                <td>{{ cate.name }} > {{ sub.name }}</td>
                <td class="btn-table"><input type="checkbox" checked /></td>
              </tr>
            </template>
          </template>
        </template>
      </ListTable>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, ref, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'
import { ICategory } from '~/types'
import Categories from '~/configs/categories'

export default defineComponent({
  name: 'CategoriesPage',
  components: { ContentWrapper, ListTable },
  setup() {
    const { title } = useMeta()
    const selectAll = ref(false)
    const selected = ref<number[]>([])
    const breadcrumbs = ref([])
    const categories = ref<ICategory[]>(Categories)

    function select() {
      selected.value = []
      if (!selectAll.value) {
        for (const cate of categories.value) {
          selected.value.push(cate.id)
        }
      }
    }

    function itemSelect() {
      selectAll.value = false
    }

    title.value = 'Danh mục'
    return {
      title,
      breadcrumbs,
      selectAll,
      selected,
      select,
      categories,
      itemSelect,
    }
  },

  head: {},
})
</script>
