<template>
  <ContentWrapper page-name="Theming">
    <div class="m-6">
      <NuxtLink class="btn btn-primary" :to="{ name: 'index' }">
        Homepage
      </NuxtLink>
    </div>

    <div class="sm:m-6 space-y-6">
      <HeroSimpleCentered />
      <HeroSimpleCentered class="theme-swiss" />
      <HeroSimpleCentered class="theme-neon" />
    </div>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import HeroSimpleCentered from '~/components/hero/HeroSimpleCentered.vue'

export default defineComponent({
  name: 'ThemingPage',
  components: { ContentWrapper, HeroSimpleCentered },
})
</script>
