<template>
  <ContentWrapper page-name="Dashboard">
    <div class="align-content-center">
      <Logo />
      <div class="mt-6 space-x-4">
        <a
          href="https://nuxtjs.org/"
          target="_blank"
          rel="noopener noreferrer"
          class="btn btn-primary"
        >
          <span>Documentation</span>
        </a>
        <NuxtLink class="relative btn btn-secondary" :to="{ name: 'posts' }">
          <span>Posts</span>
        </NuxtLink>
        <NuxtLink class="relative btn btn-secondary" :to="{ name: 'theming' }">
          <span>Theme</span>
          <AnimatePing />
        </NuxtLink>
      </div>
    </div>

    <!--    <div class="mt-6 w-full"> -->
    <!--      <div class="aspect-w-3 aspect-h-2 sm:aspect-w-16 sm:aspect-h-9"> -->
    <!--        <NuxtImg -->
    <!--          class="object-cover object-center rounded shadow-xl" -->
    <!--          src="/img/photo-1519046904884-53103b34b206.jpg" -->
    <!--        /> -->
    <!--      </div> -->
    <!--    </div> -->
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'
import AnimatePing from '~/components/animate/AnimatePing.vue'
import Logo from '~/components/Logo.vue'
import ContentWrapper from '~/components/common/ContentWrapper.vue'

export default defineComponent({
  name: 'HomePage',
  components: { AnimatePing, Logo, ContentWrapper },
})
</script>
