<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <ContentCard title="Thông tin">
        <div class="form-group">
          <input
            type="text"
            class="form-control form-control-sm"
            placeholder="Tên sản phẩm nhóm"
          />
        </div>
        <div class="form-group">
          <textarea
            class="form-control form-control-sm"
            placeholder="Mô tả"
            rows="4"
          />
        </div>
      </ContentCard>
      <ContentCard title="Logo">
        <AddImage />
      </ContentCard>
      <ContentCard>
        <div class="d-flex justify-content-between btn-group-sm">
          <button type="reset" class="btn btn-secondary">Hủy</button>
          <button type="submit" class="btn btn-primary">Lưu</button>
        </div>
      </ContentCard>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import AddImage from '~/components/forms/AddImage.vue'

export default defineComponent({
  name: 'BrandsEditPage',
  components: { ContentWrapper, ContentCard, AddImage },
  setup() {
    const { title } = useMeta()
    title.value = 'Sửa thương hiệu'
    return { title }
  },

  head: {},
})
</script>
