<template>
  <ContentWrapper :page-name="title">
    <template slot="actions">
      <div class="float-left">
        <n-link :to="{ path: '/brands/add' }" class="btn btn-sm btn-primary">
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/brands/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/brands/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/brands/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template slot="contents">
      <ListTable>
        <template #tableHeader>
          <tr>
            <th width="70px">
              <label class="form-checkbox">
                <input v-model="selectAll" type="checkbox" @click="select" />
                <i class="form-icon"></i>
              </label>
            </th>
            <th>Tên thương hiệu</th>
            <th>Mức độ ưu tiên</th>
            <th>Danh mục</th>
            <th>Liên kết</th>
            <th>Hình ảnh</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(brand, pk) in brands" :key="pk">
            <td>
              <label class="form-checkbox">
                <input
                  v-model="selected"
                  type="checkbox"
                  :value="brand.id"
                  @click="itemSelect"
                />
                <i class="form-icon"></i>
              </label>
            </td>
            <td>
              <b>{{ brand.name }}</b>
            </td>
            <td>1</td>
            <td>Thuỷ lực, Khí nén, Máy liên hợp</td>
            <td></td>
            <td></td>
          </tr>
        </template>
      </ListTable>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import { ref } from '@vue/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'
import { IBrand } from '~/types'
import Brands from '~/configs/brands'

export default defineComponent({
  name: 'BrandsPage',
  components: { ContentWrapper, ListTable },
  setup() {
    const { title } = useMeta()
    title.value = 'Thương hiệu'
    const brands = ref<IBrand[]>(Brands)
    const selectAll = ref(false)
    const selected = ref<number[]>([])

    function select() {
      selected.value = []
      if (!selectAll.value) {
        for (const brand of brands.value) {
          selected.value.push(brand.id)
        }
      }
    }

    function itemSelect() {
      selectAll.value = false
    }

    return { title, brands, selectAll, selected, select, itemSelect }
  },

  head: {},
})
</script>
