<template>
  <transition name="fade">
    <div v-if="show" class="modal fade show" style="display: block">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <slot name="header" />
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
              @click="closeModal"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <slot name="body" />
          </div>
          <div class="modal-footer justify-content-between">
            <slot name="footer" />
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </transition>
</template>

<script>
import { defineComponent, ref } from '@vue/composition-api'

export default defineComponent({
  name: 'AppModal',
  setup({ closeModal, openModal }) {
    const show = ref(false)
    closeModal = () => {
      show.value = false
      if (document.querySelector('body').classList) {
        document.querySelector('body').classList.remove('modal-open')
      }
      document.querySelector('.modal-backdrop').remove()
    }
    openModal = () => {
      show.value = true
      if (document.querySelector('body').classList) {
        document.querySelector('body').classList.add('modal-open')
      }
      const find = document.querySelector('body')
      const backdrop = document.createElement('div')
      backdrop.classList.add('modal-backdrop', 'fade', 'show')
      find.appendChild(backdrop)
    }
    return {
      closeModal,
      openModal,
      show,
    }
  },

  // methods: {
  //   closeModal() {
  //     this.show = false
  //     document.querySelector('body').classList.remove('modal-open')
  //     document.querySelector('.modal-backdrop').remove()
  //   },
  //
  //   openModal() {
  //     this.show = true
  //     document.querySelector('body').classList.add('modal-open')
  //     const find = document.querySelector('body')
  //     const backdrop = document.createElement('div')
  //     backdrop.classList.add('modal-backdrop', 'fade', 'show')
  //     find.appendChild(backdrop)
  //   },
  // },
})
</script>

<style>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
</style>
