<template>
  <div class="card">
    <div v-if="title != null" class="card-header">
      <h3 class="card-title" v-text="title" />
    </div>
    <div class="card-body">
      <slot />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ContentCard',
  props: {
    title: {
      type: String,
      default: null,
    },
  },
})
</script>
