<template>
  <div class="b2b content-wrapper">
    <section class="content-header">
      <div class="container-fluid">
        <div class="content-header">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1 class="d-block">
                {{ pageName }}
              </h1>
            </div>
            <div class="col-sm-6">
              <slot name="search" />
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <slot name="actions"></slot>
            </div>
            <div class="col-sm-6 paging">
              <slot name="paging"></slot>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <slot name="contents"></slot>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'ContentWrapper',
  props: {
    pageName: {
      type: String,
      required: true,
    },
  },
})
</script>

<style>
small.action-header {
  font-size: 16px;
}
</style>
