<template>
  <footer class="main-footer">
    <strong>
      B2bMart &copy;{{ getYear }} <a href="https://b2bmart.vn/">B2bTeam</a>.
    </strong>
    All rights reserved.
  </footer>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
export default defineComponent({
  name: 'Footer',
  data() {
    return {}
  },

  computed: {
    getYear() {
      return '2020'
    },
  },
})
</script>
