<template>
  <div class="attachment-img">
    <img :width="size" :src="image" alt="Thumbnail" />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
export default defineComponent({
  name: 'ImageThumb',
  props: {
    image: {
      type: String,
      default: '/img/default-150x150.png',
    },

    size: {
      type: Number,
      default: 90,
    },
  },
})
</script>
