<template>
  <div class="col-sm-12 col-md-7">
    <div
      id="example1_paginate"
      class="dataTables_paginate paging_simple_numbers"
    >
      <ul class="pagination">
        <li
          id="example1_previous"
          class="paginate_button page-item previous disabled"
        >
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="0"
            tabindex="0"
            class="page-link"
            >Previous</a
          >
        </li>
        <li class="paginate_button page-item active">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="1"
            tabindex="0"
            class="page-link"
            >1</a
          >
        </li>
        <li class="paginate_button page-item">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="2"
            tabindex="0"
            class="page-link"
            >2</a
          >
        </li>
        <li class="paginate_button page-item">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="3"
            tabindex="0"
            class="page-link"
            >3</a
          >
        </li>
        <li class="paginate_button page-item">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="4"
            tabindex="0"
            class="page-link"
            >4</a
          >
        </li>
        <li class="paginate_button page-item">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="5"
            tabindex="0"
            class="page-link"
            >5</a
          >
        </li>
        <li class="paginate_button page-item">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="6"
            tabindex="0"
            class="page-link"
            >6</a
          >
        </li>
        <li id="example1_next" class="paginate_button page-item next">
          <a
            href="#"
            aria-controls="example1"
            data-dt-idx="7"
            tabindex="0"
            class="page-link"
            >Next</a
          >
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'Pagination',
  setup() {},
})
</script>
