<template>
  <div class="float-right">
    <span class="text-muted">
      {{ currentStart }}-{{ currentEnd }}/{{ meta.total }}
    </span>
    <div v-if="meta.total > meta.limit" class="btn-group btn-group-sm">
      <a
        href="javascript:;"
        :class="['btn', backLink ? '' : 'disabled']"
        @click="backClick"
      >
        <i class="fa fa-angle-left" />
      </a>
      <a
        :class="['btn', nextLink ? '' : 'disabled']"
        href="javascript:;"
        @click="nextClick"
      >
        <i class="fa fa-angle-right"></i>
      </a>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from '@vue/composition-api'
import { useRoute, useRouter } from '@nuxtjs/composition-api'
import { IMetadata } from '~/types'

export default defineComponent({
  name: 'Paging',
  props: {
    meta: {
      type: Object as PropType<IMetadata>,
      default: null,
    },
  },

  setup({ meta }) {
    const route = useRoute()
    const router = useRouter()
    const currentPage = computed(() => {
      let p = 0
      if (route.value.query && route.value.query.page) {
        p = Number(route.value.query.page)
      }
      return p
    })
    const nextLink = computed(() => currentPage.value < meta.pages)
    const backLink = computed(() => currentPage.value > 1)

    function nextClick(e: any) {
      if (nextLink) {
        router.push({
          path: route.value.path,
          query: {
            page: `${currentPage.value + 1}`,
            t: new Date().getTime().toString(),
          },
        })
      }
      e.preventDefault()
    }

    function backClick(e: any) {
      if (backLink) {
        router.push({
          path: route.value.path,
          query: {
            page: `${currentPage.value - 1}`,
            t: new Date().getTime().toString(),
          },
        })
      }
      e.preventDefault()
    }

    const currentStart = computed(() => {
      if (meta.total > 0) {
        if (meta.page === 1) {
          return 1
        } else {
          return meta.limit * (meta.page - 1)
        }
      } else {
        return 0
      }
    })
    const currentEnd = computed(() => {
      if (meta.total > meta.limit) {
        if (meta.page < meta.pages) {
          return meta.limit * meta.page
        }
        return -(meta.total - meta.limit * meta.page)
      } else {
        return meta.total
      }
    })
    return {
      currentStart,
      currentEnd,
      nextLink,
      backLink,
      nextClick,
      backClick,
    }
  },
})
</script>
