<template>
  <li
    :class="[
      menu.isHeader ? 'nav-header' : 'nav-item',
      useCurrent ? 'menu-open' : '',
    ]"
  >
    <span v-if="menu.isHeader" class="text-uppercase">{{ menu.name }}</span>
    <n-link
      v-else
      :to="{ path: menu.link }"
      :class="['nav-link', useCurrent ? 'active' : '']"
    >
      <i :class="['nav-icon fas', menu.icon]" />
      <p>
        {{ menu.name }}
        <i
          v-if="menu.child && menu.child.length"
          class="fas fa-angle-left right"
        />
      </p>
    </n-link>
    <ul v-if="menu.child && menu.child.length" class="nav nav-treeview">
      <li
        v-for="(child, key1) in menu.child"
        :key="'sidebar__child___' + key1"
        class="nav-item"
      >
        <n-link :to="{ path: child.link }" class="nav-link">
          <i class="far fa-circle nav-icon" />
          <p>{{ child.name }}</p>
        </n-link>
      </li>
    </ul>
  </li>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SidebarLink',
  props: {
    menu: {
      type: Object,
      default: null,
    },
  },

  data() {
    return {
      useCurrent: false,
    }
  },

  computed: {
    currentPath(): string[] {
      return this.$route.path.split('/')
    },

    currentMenuName(): string {
      if (this.menu.link) {
        const menus = this.menu.link.split('/')
        if (menus[1]) {
          return menus[1]
        }
      }
      return 'none'
    },
  },

  watch: {
    currentPath: {
      handler() {
        this.checkMenu()
      },
    },
  },

  mounted() {
    this.checkMenu()
  },

  methods: {
    checkMenu() {
      this.useCurrent = this.currentPath.includes(this.currentMenuName)
    },
  },
})
</script>
