<template>
  <n-link :to="{ path: '/' }" class="brand-link">
    <img
      src="/img/AdminLTELogo.png"
      alt="B2BMart"
      class="brand-image img-circle elevation-3"
      style="opacity: 0.8"
    />
    <span class="brand-text text-uppercase text-bold">B2B</span
    ><span class="brand-text font-weight-light">Mart</span>
  </n-link>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SidebarLogo',
})
</script>
