<template>
  <div
    class="w-full flex items-center text-blue-400 h-10 pl-4 hover:bg-gray-200 rounded-lg cursor-pointer"
  >
    <slot />
    <span class="text-gray-700">Settings</span>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@nuxtjs/composition-api'

export default defineComponent({
  name: 'SidebarItem',
  components: {},
})
</script>
