<template>
  <aside
    class="main-sidebar main-sidebar-custom sidebar-dark-primary elevation-4"
  >
    <SidebarLogo />
    <!-- Sidebar -->
    <overlay-scrollbars class="sidebar">
      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul
          v-if="menus"
          class="nav nav-pills nav-sidebar flex-column"
          data-widget="treeview"
          role="menu"
          data-accordion="false"
        >
          <SidebarLink
            v-for="(menu, key) in menus"
            :key="'sidebar___' + key"
            :menu="menu"
          />
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </overlay-scrollbars>
  </aside>
</template>

<script lang="ts">
import 'overlayscrollbars/css/OverlayScrollbars.css'
import { defineComponent } from '@nuxtjs/composition-api'
import { OverlayScrollbarsComponent } from 'overlayscrollbars-vue'
import SidebarLogo from '~/components/common/sidebar/SidebarLogo.vue'
import SidebarLink from '~/components/common/sidebar/SidebarLink.vue'
import Menus from '~/configs/menus'

export default defineComponent({
  name: 'Sidebar',
  components: {
    SidebarLink,
    SidebarLogo,
    'overlay-scrollbars': OverlayScrollbarsComponent,
  },

  data() {
    return {
      menus: Menus || [],
    }
  },

  watch: {},

  mounted() {},
})
</script>
