<template>
  <span class="flex absolute h-3 w-3 top-0 right-0 -mt-1 -mr-1">
    <span
      class="animate-ping absolute inline-flex h-full w-full rounded-full bg-brand-400 opacity-75"
    />
    <span class="relative inline-flex rounded-full h-3 w-3 bg-brand-500" />
  </span>
</template>

<script lang="ts">
export default {
  name: 'AnimatePing',
}
</script>
