<template>
  <ContentWrapper :page-name="title">
    <ContentCard title="Thông tin sản phẩm">
      <div class="form-group">
        <input
          type="text"
          class="form-control form-control-sm"
          placeholder="Tên sản phẩm nhóm"
        />
      </div>
      <div class="form-group">
        <select class="form-control form-control-sm">
          <option value="">Chon sản phẩm nhóm</option>
          <option value="">Sản phẩm nhóm 1</option>
          <option value="">Sản phẩm nhóm 2</option>
        </select>
      </div>
      <div class="form-group">
        <textarea
          class="form-control form-control-sm"
          placeholder="Mô tả"
          rows="4"
        />
      </div>
      <div class="row">
        <div class="col-sm-6"><AddBrand /></div>
        <div class="col-sm-6"><AddOrigin /></div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group form-group-sm">
            <input
              type="text"
              class="form-control-sm form-control"
              placeholder="Thời gian bảo hành"
            />
          </div>
        </div>
      </div>
    </ContentCard>
    <div class="row">
      <div class="col-sm-6">
        <ContentCard title="Giá bán"> <AddPrice /></ContentCard>
      </div>
      <div class="col-sm-6">
        <ContentCard title="Thông số kỹ thuật">
          <div
            v-for="(variant, key) in variants"
            :key="'variant_' + key"
            class="form-group-sm form-group row"
          >
            <div class="col-sm-3">
              <label class="col-form-label" v-text="variant.name" />
            </div>
            <div class="col-sm-9">
              <input class="form-control form-control-sm" />
            </div>
          </div>
        </ContentCard>
      </div>
    </div>
    <ContentCard title="Hình ảnh">
      <ListImage />
      <AddImage />
    </ContentCard>
    <ContentCard>
      <div class="d-flex justify-content-between btn-group-sm">
        <button type="reset" class="btn btn-secondary">Hủy</button>
        <button type="submit" class="btn btn-primary">Lưu</button>
      </div>
    </ContentCard>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta, ref } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import AddBrand from '~/components/forms/AddBrand.vue'
import Variants from '~/configs/variants'
import { IBase } from '~/types'
import AddOrigin from '~/components/forms/AddOrigin.vue'
import AddPrice from '~/components/forms/AddPrice.vue'
import ListImage from '~/components/forms/ListImage.vue'
import AddImage from '~/components/forms/AddImage.vue'

export default defineComponent({
  name: 'ProductAddPage',
  components: {
    AddOrigin,
    ContentWrapper,
    ListImage,
    AddImage,
    ContentCard,
    AddBrand,
    AddPrice,
  },

  setup() {
    const { title } = useMeta()
    title.value = 'Sửa sản phẩm'
    const variants = ref<IBase[]>(Variants)
    return {
      title,
      variants,
    }
  },

  head: {},
})
</script>
