<template>
  <ContentWrapper :page-name="title">
    <template #contents>
      <div class="row">
        <div class="col-lg">
          <ContentCard>
            <ProductDetail />
            <Tabs>
              <Tab id="detail" name="Thông tin chung">
                <ProductForm />
              </Tab>
              <Tab id="thong-so" name="Thông số">
                <VariantTableProduct />
              </Tab>
              <Tab id="gia-ban" name="Giá bán">
                <PriceTable />
              </Tab>
              <Tab id="hinh-anh" name="Hình ảnh">
                <ImageTable />
              </Tab>
            </Tabs>
          </ContentCard>
        </div>
      </div>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta, ref } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import Variants from '~/configs/variants'
import { IBase } from '~/types'
import ProductDetail from '~/components/products/ProductDetail.vue'
import Tabs from '~/components/common/tab/Tabs.vue'
import Tab from '~/components/common/tab/Tab.vue'
import ImageTable from '~/components/groups/ImageTable.vue'
import PriceTable from '~/components/products/PriceTable.vue'
import VariantTableProduct from '~/components/products/VariantTableProduct.vue'
import ProductForm from '~/components/products/ProductForm.vue'

export default defineComponent({
  name: 'ProductAddPage',
  components: {
    ProductForm,
    VariantTableProduct,
    ImageTable,
    ContentWrapper,
    ContentCard,
    PriceTable,
    ProductDetail,
    Tabs,
    Tab,
  },

  setup() {
    const { title } = useMeta()
    title.value = 'Thêm sản phẩm'
    const variants = ref<IBase[]>(Variants)
    return {
      title,
      variants,
    }
  },

  head: {},
})
</script>
