<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="float-left">
        <n-link :to="{ path: '/products/add' }" class="btn btn-sm btn-primary">
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/products/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/products/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/products/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable>
        <template #tableHeader>
          <tr>
            <th>id</th>
            <th>Tên</th>
            <th>Thương hiệu</th>
            <th>Nhóm</th>
            <th>Xuất sứ</th>
            <th>Đơn vị</th>
            <th>Bảo hành</th>
            <th>Số lượng 1</th>
            <th>Đơn giá 1</th>
            <th>Số lượng 2</th>
            <th>Đơn giá 2</th>
            <th>Trạng thái</th>
          </tr>
        </template>
        <template #tableContent>
          <tr v-for="(product, pk) in products" :key="pk">
            <td>{{ product.id }}</td>
            <td>{{ product.name }}</td>
            <td>{{ product.brand }}</td>
            <td>{{ product.group }}</td>
            <td>{{ product.xuatxu }}</td>
            <td>{{ product.donvi }}</td>
            <td>{{ product.baohanh }}</td>
            <td>{{ product.sl1 }}</td>
            <td>{{ product.gia1 }}</td>
            <td>{{ product.sl2 }}</td>
            <td>{{ product.gia2 }}</td>
            <td>
              <span class="badge badge-primary">{{ product.trangthai }} </span>
            </td>
          </tr>
        </template>
      </ListTable>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta, ref } from '@nuxtjs/composition-api'
import ListTable from '~/components/list/ListTable.vue'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import Products from '~/configs/product'
import { IProduct } from '~/types'

export default defineComponent({
  name: 'ProductPage',
  components: { ContentWrapper, ListTable },
  setup() {
    const { title } = useMeta()
    title.value = 'Sản phẩm'
    const breadcrumbs = ref([])

    const products = ref<IProduct[]>(Products)

    return {
      title,
      breadcrumbs,
      products,
    }
  },

  head: {},
})
</script>
