<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Catalog File</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td>file1.pdf</td>
      </tr>
      <tr>
        <td>file2.pdf</td>
      </tr>
    </template>
  </ListTable>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable'

export default defineComponent({
  name: 'CatalogTable',
  components: { ListTable },
  setup() {},
})
</script>
