<template>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="attachment-block b2b-attachment-block clearfix">
        <ImageThumb />
        <div class="attachment-pushed bg-white">
          <input class="form-control" type="text" placeholder="TÊN NHÓM" />
          <div class="row mt-2">
            <div class="col">
              <client-only>
                <div class="row form-group">
                  <div class="col">
                    <CategorySelected />
                  </div>
                </div>
              </client-only>
              <div class="row">
                <div class="col">
                  <AddBrand />
                  <AddKind />
                </div>
              </div>
            </div>
            <div class="col-sm">
              <a class="btn btn-outline-secondary">Xem nhóm tồn tại</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12">
          <div class="input-group">
            <textarea
              class="form-control"
              aria-label="With textarea"
              placeholder="Mô tả"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6">
      <div class="float-right">
        <button type="button" class="btn btn-outline-danger">Hủy</button>
        <button type="button" class="btn btn-outline-primary">Lưu</button>
      </div>
    </div>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ImageThumb from '~/components/common/ImageThumb'
import CategorySelected from '~/components/forms/CategorySelected'
import AddBrand from '~/components/forms/AddBrand'
import AddKind from '~/components/forms/AddKind'
export default defineComponent({
  name: 'GroupDetail',
  components: {
    AddKind,
    AddBrand,
    CategorySelected,
    ImageThumb,
  },

  setup() {},
})
</script>
