<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Hình ảnh</th>
        <th>Độ ưu tiên</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td><ImageThumb :size="50" /></td>
        <td>1</td>
      </tr>
      <tr>
        <td><ImageThumb :size="50" /></td>
        <td>2</td>
      </tr>
    </template>
  </ListTable>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable'
import ImageThumb from '~/components/common/ImageThumb'

export default defineComponent({
  name: 'ImageTable',
  components: { ImageThumb, ListTable },
  setup() {},
})
</script>
