<template>
  <ListTable>
    <template #tableHeader>
      <tr>
        <th>Bộ thông số của nhóm</th>
        <th>Hệ số</th>
        <th>Biên độ (+ -)</th>
        <th>Số lượng</th>
        <th>Nhóm / Bộ thông số liên quan</th>
        <th>Trạng thái</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td>Đường kính ống</td>
        <td>2</td>
        <td>5</td>
        <td>2</td>
        <td>Bơm bánh răng vỏ nhôm / Công ra</td>
        <td>Duyệt</td>
      </tr>
      <tr>
        <td>Đường kính cần</td>
        <td>2</td>
        <td>5</td>
        <td>2</td>
        <td>Bơm bánh răng vỏ nhôm / Công ra</td>
        <td>Xem xét</td>
      </tr>
    </template>
  </ListTable>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable.vue'

export default defineComponent({
  name: 'RelatedProduct',
  components: { ListTable },
})
</script>
