<template>
  <ListTable :hase-more="true" @add-more="addMore">
    <template #tableHeader>
      <tr>
        <th>Tên thông số</th>
        <th>Kiểu dữ liệu</th>
        <th>Đơn vị - thuộc tinh</th>
      </tr>
    </template>
    <template #tableContent>
      <tr>
        <td>Đường kính ống</td>
        <td>input</td>
        <td>mm</td>
      </tr>
      <tr>
        <td>Đường kính cần</td>
        <td>text</td>
        <td></td>
      </tr>
      <tr>
        <td>Loại bánh răng</td>
        <td>select</td>
        <td></td>
      </tr>
    </template>
  </ListTable>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable'

export default defineComponent({
  name: 'VariantTable',
  components: { ListTable },
  setup() {
    function addMore() {
      console.log('ahda..')
      console.log('Test link gitlat with jira')
    }

    return {
      addMore,
    }
  },
})
</script>
