<template>
  <div class="wrapper">
    <Header />
    <Sidebar />
    <Nuxt />
    <Footer />
    <div id="sidebar-overlay" @click="toggleSidebar()" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import Header from '~/components/common/Header'
import Sidebar from '~/components/common/sidebar/Sidebar'
import Footer from '~/components/common/Footer'
import Menus from '~/configs/menus'

export default {
  name: 'DefaultLayout',
  components: {
    Footer,
    Sidebar,
    Header,
  },

  replace: false,
  data() {
    return {
      menus: Menus,
    }
  },

  head() {
    return {
      bodyAttrs: {
        class: [
          'sidebar-mini layout-fixed',
          this.sideBarOpen
            ? this.$device.isMobileOrTablet
              ? ' sidebar-closed '
              : ' '
            : ' sidebar-open ',
          this.sideBarOpen && this.$device.isDesktop ? '' : 'sidebar-collapse',
        ],
      },
    }
  },

  computed: {
    ...mapState(['sideBarOpen']),
  },

  methods: {
    toggleSidebar(e) {
      e.preventDefault()
      this.$store.dispatch('toggleSidebar')
    },
  },
}
</script>
