<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="d-flex justify-content-between btn-group-sm">
        <div class="float-left">
          <n-link :to="{ path: '/kinds/add' }" class="btn btn-sm btn-primary">
            Lưu <i class="fa fa-sm fa-save"></i>
          </n-link>
          <n-link :to="{ path: '/kinds/' }" class="btn btn-sm btn-danger">
            <i class="fa fa-sm fa-file-import"></i>
            huỷ
          </n-link>
        </div>
      </div>
    </template>
    <template #contents>
      <div class="row">
        <div class="col-lg">
          <ContentCard>
            <div class="row">
              <div class="col-sm-6 col-md-6">
                <div class="attachment-block b2b-attachment-block clearfix">
                  <ImageThumb />
                  <div class="attachment-pushed bg-white">
                    <input
                      class="form-control form-control-b2b"
                      type="text"
                      placeholder="Tên tài khoản"
                    />
                    <div class="row mt-2">
                      <div class="col">
                        <label class="form-check-label col-form-label">
                          <input type="checkbox" /> Official Store
                        </label>
                        <label class="form-check-label col-form-label">
                          <input type="checkbox" /> Công ty
                        </label>
                        <label class="form-check-label col-form-label">
                          <input type="checkbox" /> Cá nhân
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-6">
                <BFIInput label="Tên công ty" name="company_name" />
                <BFIInput label="Địa chỉ" name="address" />
                <BFIInput label="Mã số thuế" name="tax" />
                <BFIInput label="Số tài khoản" name="bank_id" />
                <BFIInput label="Ngân hàng" name="bank_name" />
              </div>
              <div class="col-6">
                <BFIInput label="Tên đăng nhập" name="name" />
                <BFIInput label="Người liên hệ" name="contact" />
                <BFIInput label="Thư điện tử" name="email" />
                <BFIInput label="Số điện thoại" name="phone" />
                <BFIInput label="Di động" name="mobile" />
              </div>
            </div>
            <label class="form-check-label col-form-label">
              <input type="checkbox" checked /> Tôi đồng ý với điều khoản của
              b2bmart
            </label>
          </ContentCard>
        </div>
      </div>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ContentCard from '~/components/common/ContentCard.vue'
import BFIInput from '~/components/forms/BFIInput.vue'
import ImageThumb from '~/components/common/ImageThumb.vue'

export default defineComponent({
  name: 'UserAddPage',
  components: { BFIInput, ContentWrapper, ContentCard, ImageThumb },
  setup() {
    const { title } = useMeta()
    title.value = 'Cập nhập tài khoản'
    return {
      title,
    }
  },

  head: {},
})
</script>
