<template>
  <ContentWrapper :page-name="title">
    <template #actions>
      <div class="float-left">
        <n-link :to="{ path: '/users/add' }" class="btn btn-sm btn-primary">
          Tạo <i class="fa fa-sm fa-plus-circle"></i>
        </n-link>
        <n-link :to="{ path: '/users/add' }" class="btn btn-sm btn-default">
          <i class="fa fa-sm fa-file-import"></i>
          Nhập
        </n-link>
      </div>
      <div class="float-right btn-group btn-group-sm">
        <n-link :to="{ path: '/users/add' }" class="btn btn-sm btn-default">
          In <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
        <n-link :to="{ path: '/users/add' }" class="btn btn-sm btn-default">
          Hành động <i class="fa fa-sm fa-angle-down"></i>
        </n-link>
      </div>
    </template>
    <template #search>
      <div class="input-group input-group-sm">
        <input
          type="search"
          class="form-control form-control-sm"
          placeholder="Tìm kiếm"
        />
        <div class="input-group-append">
          <a href="" class="input-group-text"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </template>
    <template #paging>
      <div class="float-right">
        <span class="text-muted">1-8/8</span>
        <div class="btn-group btn-group-sm">
          <a href="#" class="btn">
            <i class="fa fa-angle-left"></i>
          </a>
          <a href="#" class="btn">
            <i class="fa fa-angle-right"></i>
          </a>
        </div>
      </div>
    </template>
    <template #contents>
      <ListTable>
        <template #tableHeader>
          <tr>
            <th>id</th>
            <th>Tên đăng nhập</th>
            <th>Tên tài khoản</th>
            <th>Email</th>
            <th>Di động</th>
            <th>Địa chỉ</th>
            <th>Trạng thái</th>
          </tr>
        </template>
        <template #tableContent>
          <tr>
            <td>1</td>
            <td>nguyenvana</td>
            <td>Nguyễn Văn A</td>
            <td>a@gmail.com</td>
            <td>0911886699</td>
            <td>
              11/5/266 Khu đô thị Thiên Đường, Phường Bờ Tây, Thành phố Long An
            </td>
            <td><span class="badge badge-danger">khoá</span></td>
          </tr>
        </template>
      </ListTable>
    </template>
  </ContentWrapper>
</template>

<script lang="ts">
import { defineComponent, useMeta } from '@nuxtjs/composition-api'
import ContentWrapper from '~/components/common/ContentWrapper.vue'
import ListTable from '~/components/list/ListTable.vue'

export default defineComponent({
  name: 'UsersPage',
  components: { ContentWrapper, ListTable },
  setup() {
    const { title } = useMeta()
    title.value = 'Tài khoản'
    return {
      title,
    }
  },

  head: {},
})
</script>
