<template>
  <div class="form-group-sm form-group">
    <vue-select v-model="selected" label="name" :options="variants">
      <template slot="no-options"> Chọn nhóm</template>
      <template slot="selected-option" slot-scope="option">
        {{ option.name }}
      </template>
    </vue-select>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IGroup } from '~/types'
import Groups from '~/configs/groups'

export default defineComponent({
  name: 'AddGroup',
  setup() {
    const brandRaw: IGroup[] = [
      { id: 0, name: 'Chọn nhóm', code: '', status: '', image: '' },
      ...Groups,
    ]
    const variants = ref<IGroup[]>(brandRaw)

    const selected = ref<IGroup>(brandRaw[0])
    const units = ref<IGroup[]>(Groups)
    return {
      variants,
      selected,
      units,
    }
  },
})
</script>
