<template>
  <div class="form-group-sm form-group">
    <vue-select
      v-model="selected"
      label="name"
      :options="variants"
      placeholder="Chọn nhóm thuộc tính"
    >
      <template slot="no-options">Không tìm thấy đơn vị</template>
      <template slot="selected-option" slot-scope="option">
        {{ option.name }}
      </template>
      <li slot="list-footer" class="pagination">
        <div class="m-1">
          <a href="javascript:;" @click="$refs.addGroup.openModal()">
            Tạo nhóm thuộc tính mới
          </a>
        </div>
      </li>
    </vue-select>
    <AppModal ref="addGroup">
      <template #header>
        <h1>Thêm nhóm</h1>
      </template>
      <template #body>
        <div class="form-group row">
          <BFILabel label="Tên nhóm" name="group_name" />
          <div class="col-sm-10">
            <input
              id="group_name"
              type="text"
              class="form-control form-control-sm"
              name="group_name"
            />
          </div>
        </div>
      </template>
      <template #footer>
        <a
          href="javascript:;"
          class="btn btn-danger"
          @click="$refs.addGroup.closeModal()"
        >
          Hủy
        </a>
        <a
          href="javascript:;"
          class="btn btn-primary"
          @click="$refs.addGroup.closeModal()"
        >
          Lưu
        </a>
      </template>
    </AppModal>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IBase } from '~/types'
import Variants from '~/configs/variants'
import AppModal from '~/components/common/AppModal.vue'
import BFILabel from '~/components/forms/BFILabel.vue'
import AttributeGroups from '~/configs/groups_attribute'

export default defineComponent({
  name: 'AddGroupAttribute',
  components: { BFILabel, AppModal },
  setup() {
    const brandRaw: IBase[] = [...AttributeGroups]
    const variants = ref<IBase[]>(brandRaw)

    const selected = ref<IBase>()
    const units = ref<IBase[]>(Variants)
    return {
      variants,
      selected,
      units,
    }
  },
})
</script>
