<template>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
    <div class="input-group">
      <div class="custom-file">
        <input id="exampleInputFile" type="file" class="custom-file-input" />
        <label class="custom-file-label" for="exampleInputFile">
          Choose file
        </label>
        <div class="input-group-append">
          <span id="" class="input-group-text">Upload</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'AddImage',
})
</script>
