<template>
  <div class="form-group-sm form-group">
    <vue-select v-model="selected" label="name" :options="variants">
      <template slot="no-options"> Chọn kiểu loại</template>
      <template slot="selected-option" slot-scope="option">
        {{ option.name }}
      </template>
    </vue-select>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IBase } from '~/types'
import Brands from '~/configs/brands'
import Units from '~/configs/units'

export default defineComponent({
  name: 'AddKind',
  setup() {
    const brandRaw: IBase[] = [{ id: 0, name: 'Chọn kiểu loại' }, ...Brands]
    const variants = ref<IBase[]>(brandRaw)

    const selected = ref<IBase>(brandRaw[0])
    const units = ref<IBase[]>(Units)
    return {
      variants,
      selected,
      units,
    }
  },
})
</script>
