<template>
  <div class="form-group-sm form-group">
    <vue-select v-model="selected" label="name" :options="origins">
      <template slot="no-options"> Chọn xuất xứ</template>
      <template slot="selected-option" slot-scope="option">
        {{ option.name }}
      </template>
    </vue-select>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IBase } from '~/types'
import Origins from '~/configs/origins'

export default defineComponent({
  name: 'AddOrigin',
  setup() {
    const originRaw: IBase[] = [{ id: 0, name: 'Chọn xuất xứ' }, ...Origins]
    const origins = ref<IBase[]>(originRaw)
    const selected = ref<IBase>(originRaw[0])
    return {
      origins,
      selected,
    }
  },
})
</script>
