<template>
  <div class="prices">
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-group-sm">
          <label for="level">Thời điểm </label>
          <input
            id="level"
            type="text"
            class="form-control-sm form-control"
            placeholder="0"
            value="0"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group form-group-sm">
          <label for="level">Giá </label>
          <input
            type="text"
            class="form-control-sm form-control"
            placeholder="0"
            value="2000"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-sm">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group form-group-sm">
          <label for="level2">Thời điểm </label>
          <input
            id="level2"
            type="text"
            class="form-control-sm form-control"
            placeholder="0"
            value="100"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group form-group-sm">
          <label for="level">Giá </label>
          <input
            type="text"
            class="form-control-sm form-control"
            placeholder="0"
            value="1900"
          />
        </div>
      </div>
      <div class="col-sm-3">
        <label>&nbsp;</label>
        <button type="button" class="btn btn-sm">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <a href="javascript:;">Mức tiếp theo</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'AddPrice',
})
</script>
