<template>
  <div class="form-group-sm form-group">
    <vue-select v-model="selected" label="name" :options="variants">
      <template slot="no-options"> Chọn đơn vị</template>
      <template slot="selected-option" slot-scope="option">
        {{ option.name }}
      </template>
    </vue-select>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IBase } from '~/types'
import Variants from '~/configs/variants'
import Units from '~/configs/units'

export default defineComponent({
  name: 'AddUnit',
  setup() {
    const brandRaw: IBase[] = [{ id: 0, name: 'Chọn đơn vị' }, ...Units]
    const variants = ref<IBase[]>(brandRaw)

    const selected = ref<IBase>(brandRaw[0])
    const units = ref<IBase[]>(Variants)
    return {
      variants,
      selected,
      units,
    }
  },
})
</script>
