<template>
  <div class="row form-group-sm">
    <div class="col-sm-8">
      <vue-select v-model="selected" label="name" :options="variants">
        <template slot="no-options"> Chọn thông số</template>
        <template slot="selected-option" slot-scope="option">
          {{ option.name }}
        </template>
      </vue-select>
    </div>
    <div class="col-sm-3">
      <select class="form-control-sm form-control">
        <option value="0">Chọn đơn vị</option>
        <option
          v-for="(unit, key) in units"
          :key="'unit__' + key"
          :value="unit.id"
          v-text="unit.name"
        />
      </select>
    </div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-sm btn-outline-primary">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent, ref } from '@vue/composition-api'
import { IBase } from '~/types'
import Variants from '~/configs/variants'

export default defineComponent({
  name: 'AddVariant',
  setup() {
    const variantsRaw: IBase[] = [{ id: 0, name: 'Chọn thông số' }, ...Variants]
    const variants = ref<IBase[]>(variantsRaw)

    const selected = ref<IBase>(variantsRaw[0])
    const units = ref<IBase[]>(Variants)
    return {
      variants,
      selected,
      units,
    }
  },
})
</script>
