<template>
  <div class="form-group form-group-sm">
    <label :for="name" class="form-check-label" v-text="label" />
    <input
      :id="name"
      type="email"
      class="form-control form-control-b2b form-control-sm"
      :placeholder="placeHolder"
    />
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'BFGInput',
  props: {
    label: {
      type: String,
      required: true,
    },

    placeHolder: {
      type: String,
      default: '',
    },

    name: {
      type: String,
      required: true,
    },
  },
})
</script>
