<template>
  <div class="row form-group form-group-sm form-group-b2b">
    <BFILabel :name="name" :label="label" />
    <div class="col-10"></div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import BFILabel from '~/components/forms/BFILabel.vue'

export default defineComponent({
  name: 'BFIForm',
  components: { BFILabel },
})
</script>
