<template>
  <div class="row form-group form-group-sm form-group-b2b">
    <BFILabel :name="name" :label="label" />
    <div class="col-10">
      <input
        :id="name"
        :value="value"
        type="text"
        :name="name"
        class="form-control form-control-sm form-control-b2b"
        :placeholder="placeHolder"
        @change="$emit('change', $event.target.value.trim())"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import BFILabel from '~/components/forms/BFILabel.vue'

export default defineComponent({
  name: 'BFIInput',
  components: { BFILabel },
  model: {
    prop: 'value',
    event: 'change',
  },

  props: {
    label: {
      type: String,
      required: true,
    },

    value: {
      type: String,
      default: null,
    },

    placeHolder: {
      type: String,
      default: '',
    },

    name: {
      type: String,
      required: true,
    },
  },
})
</script>
