<template>
  <label
    :for="name"
    class="col-form-label col-2 form-check-label"
    v-text="label"
  />
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'BFILabel',
  props: {
    label: {
      type: String,
      required: true,
    },

    name: {
      type: String,
      required: true,
    },
  },
})
</script>
