<template>
  <div class="row form-group form-group-sm form-group-b2b">
    <label
      :for="name"
      class="col-form-label col-2 form-check-label"
      v-text="label"
    />
    <div class="col-10">
      <textarea
        :id="name"
        type="text"
        :name="name"
        class="form-control form-control-sm form-control-b2b"
        :placeholder="placeHolder"
        rows="4"
        @change="$emit('change', $event.target.value.trim())"
        v-text="value"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'BFITextarea',
  model: {
    prop: 'value',
    event: 'change',
  },

  props: {
    label: {
      type: String,
      required: true,
    },

    value: {
      type: String,
      default: null,
    },

    placeHolder: {
      type: String,
      default: '',
    },

    name: {
      type: String,
      required: true,
    },
  },
})
</script>
