<template>
  <treeselect
    v-model="selected"
    name="category"
    :multiple="false"
    :options="treeData"
    :value-consists-of="valueConsistsOf"
    placeholder="Chọn chuyên mục"
    search-nested
  />
</template>

<script>
import { defineComponent, reactive, ref } from '@vue/composition-api'

export default defineComponent({
  name: 'CategorySelected',
  components: {},
  setup() {
    const selected = ref(null)
    // const treeOrientation = ref('0')
    const valueConsistsOf = ref('ALL_WITH_INDETERMINATE')
    const treeData = reactive([
      {
        id: 'company',
        label: 'Company 🏢',
        children: [
          {
            id: 'team-i',
            label: 'Team I 👥',
            children: [
              {
                id: 'person-a',
                label: 'Person A 👱',
              },
              {
                id: 'person-b',
                label: 'Person B 🧔',
              },
            ],
          },
          {
            id: 'team-ii',
            label: 'Team II 👥',
            children: [
              {
                id: 'person-c',
                label: 'Person C 👳',
              },
              {
                id: 'person-d',
                label: 'Person D 👧',
              },
            ],
          },
          {
            id: 'person-e',
            label: 'Person E 👩',
          },
        ],
      },
    ])
    return {
      treeData,
      selected,
      valueConsistsOf,
    }
  },
})
</script>
