<template>
  <div class="list-variant">
    <template v-for="(item, key) in items">
      <div :key="'variant_' + key" class="row form-group">
        <div :class="[hasRemove ? 'col-sm-8' : 'col-sm-9']">
          <select :disabled="true" class="form-control form-control-sm">
            <option value="">{{ item.variant.name }}</option>
          </select>
        </div>
        <div class="col-sm-3">
          <select
            v-if="item.unit"
            disabled="disabled"
            class="form-control form-control-sm"
          >
            <option value="">{{ item.unit.name }}</option>
          </select>
          <div v-else>---</div>
        </div>
        <div v-if="hasRemove" class="remove variant-remove">
          <button type="button" class="btn btn-sm btn-danger">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { PropType } from '@nuxtjs/composition-api'
import { IVariant } from '~/types'

export default defineComponent({
  name: 'ListVariant',
  props: {
    items: {
      type: Array as PropType<IVariant[]>,
      default() {
        return []
      },
    },

    hasRemove: {
      type: Boolean,
      default: true,
    },
  },
})
</script>
