<template>
  <ul class="mailbox-attachments d-flex align-items-stretch clearfix">
    <li>
      <span class="mailbox-attachment-icon has-img"
        ><img width="70" height="70" src="/img/photo1.png" alt="Attachment"
      /></span>

      <div class="mailbox-attachment-info">
        <a href="#" class="mailbox-attachment-name"
          ><i class="fas fa-camera"></i> photo1.png</a
        >
        <span class="mailbox-attachment-size clearfix mt-1">
          <span>2.67 MB</span>
          <a href="#" class="btn btn-default btn-sm float-right"
            ><i class="fas fa-cloud-download-alt"></i
          ></a>
        </span>
      </div>
    </li>
    <li>
      <span class="mailbox-attachment-icon has-img"
        ><img src="/img/photo2.png" alt="Attachment"
      /></span>

      <div class="mailbox-attachment-info">
        <a href="#" class="mailbox-attachment-name"
          ><i class="fas fa-camera"></i> photo2.png</a
        >89
        <span class="mailbox-attachment-size clearfix mt-1">
          <span>1.9 MB</span>
          <a href="#" class="btn btn-default btn-sm float-right"
            ><i class="fas fa-cloud-download-alt"></i
          ></a>
        </span>
      </div>
    </li>
  </ul>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'

export default defineComponent({
  name: 'ListImage',
})
</script>
