<template>
  <div>
    <ListTable table-name="ListImage1">
      <thead>
        <tr>
          <th width="5px">
            <label class="form-checkbox">
              <input v-model="selectAll" type="checkbox" @click="select" />
              <i class="form-icon"></i>
            </label>
          </th>
          <th width="200px">Hình ảnh</th>
          <th width="5px">ưu tiên</th>
          <th width="5px">xóa</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>
            <label class="form-checkbox">
              <input v-model="selectAll" type="checkbox" @click="select" />
              <i class="form-icon"></i>
            </label>
          </td>

          <td>
            <div class="mailbox-attachment-icon-has img">
              <img
                width="70"
                height="70"
                src="/img/photo1.png"
                alt="Attachment"
              />
            </div>
          </td>
          <td>1</td>
          <td>
            <div class="remove variant-remove">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-checkbox">
              <input v-model="selectAll" type="checkbox" @click="select" />
              <i class="form-icon"></i>
            </label>
          </td>

          <td>
            <div class="mailbox-attachment-icon-has img">
              <img
                width="70"
                height="70"
                src="/img/photo1.png"
                alt="Attachment"
              />
            </div>
          </td>
          <td>2</td>
          <td>
            <div class="remove variant-remove">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <label class="form-checkbox">
              <input v-model="selectAll" type="checkbox" @click="select" />
              <i class="form-icon"></i>
            </label>
          </td>

          <td>
            <div class="mailbox-attachment-icon-has img">
              <img
                width="70"
                height="70"
                src="/img/photo1.png"
                alt="Attachment"
              />
            </div>
          </td>
          <td>3</td>
          <td>
            <div class="remove variant-remove">
              <button type="button" class="btn btn-sm btn-danger">
                <i class="fa fa-times"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </ListTable>
  </div>
</template>

<script>
import { defineComponent } from '@vue/composition-api'
import ListTable from '~/components/list/ListTable.vue'
export default defineComponent({
  name: 'ListImage1',
  components: { ListTable },
  setup() {
    function selectAll() {
      console.log('')
    }
    function select() {
      console.log('')
    }
    return {
      selectAll,
      select,
    }
  },
})
</script>
